<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Heart Disease Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='heart-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Heart Disease Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 37"><br>
                <input class="form-input" type="text" name="sex" placeholder="Sex (1- Male/0- Female)"><br>
                <input class="form-input" type="text" name="cp" placeholder="Constrictive Pericarditis (mm) eg. 2"><br>
                <input class="form-input" type="text" name="trestbps" placeholder="Resting Blood Pressure (Hgmm) eg. 130"><br>
                <input class="form-input" type="text" name="chol" placeholder="Cholestoral (mg/dl) eg. 250"><br>
                <input class="form-input" type="text" name="fbs" placeholder="Fasting Blood Sugar>120mg/dl eg. 0"><br>
                <input class="form-input" type="text" name="restecg" placeholder="Resting ECG eg. 1"><br>
                <input class="form-input" type="text" name="thalach" placeholder="Maximum Heart Rate Acheived eg. 187"><br>
                <input class="form-input" type="text" name="exang" placeholder="Exercise Induced Angina eg. 0"><br>
                <input class="form-input" type="text" name="oldpeak" placeholder="ST depression (mm) eg. 3.5"><br>
                <input class="form-input" type="text" name="slope" placeholder="Slope of peak ST eg. 0"><br>
                <input class="form-input" type="text" name="ca" placeholder="Exercise Induced Angina eg. 0"><br>
                <input class="form-input" type="text" name="thal" placeholder=" Thalassemia eg. 3"><br>


        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/bharadwaj004/heartdiseasepredictor"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/sai-bharadwaj-90842a122"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Sai Bharadwaj.</p>
       </div>

    </body>
</html>
